body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    background: #FF5733;
    color: white;
    padding: 1.5em 0;
}

main {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.activities-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5em;
    padding: 1em;
}

.activity-card {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5em;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.activity-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #FF5733;
    margin-bottom: 0.5em;
}

p {
    color: #555;
}
